*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  height: 100%;
}

body{
  height: 100%;
}
 h1, h2, h3, h4, h5, h6{
   margin: 0;
 }
ul, li{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

p{
  margin: 0;
}


  .register-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .register-form__form{
    width: 200px;
    height: 100px;
  }
  .chat-container{
    display: flex;
  }
